<header class='header'>
  <div class='header-wrapper'>
    <div class='header-content'>
      <div [routerLink]='""' class='header-content__logo'>
        <img alt='Logo' class='header-content__logo-img' src='../../../../assets/icons/logo-image.png'>
        <span class='header-content__logo-text'>AuctioX</span>
      </div>
      <div *ngIf='!isUserAuthorized; else authorizedUser' class='header-content__authorization authorization'>
        <div class='authorization-registration'>
          <app-button
            (click)='openRegistrationModal()'
            [buttonData]='registrationButtonData'
            class='authorization-registration__button'
          ></app-button>
        </div>
        <div class='authorization-login'>
          <app-button
            (click)='openLoginModal()'
            [buttonData]='loginButtonData'
            class='authorization-login__button'
          ></app-button>
        </div>
      </div>
      <ng-template #authorizedUser>
        <div (clickOutside)='this.isMenuOpened = false'>
          <div (click)='handleOpenMenu()' class='header-content__user user'>
            <span class='user-balance'>{{userData.balance}} ₴</span>
            <span class='user-name'>{{userData.name}}</span>
            <img *ngIf='userData.profileImage' [src]='userData.profileImage' alt='user logo' class='user-logo'>
          </div>
          <div *ngIf='isMenuOpened' class='header-menu menu'>
            <nav class='menu-nav'>
              <ul class='menu-list'>
                <li class='menu-list__item item'>
                  <span (click)='handleOpenMenu()'
                        [routerLink]='"/profile"'
                        class='item-text'>Профіль</span>
                </li>
                <li class='menu-list__item item'>
                  <span (click)='handleOpenMenu()'
                        [routerLink]='"/add-product"'
                        class='item-text'>Додати оголошення</span>
                </li>
                <li class='menu-list__item item'>
                  <span (click)='logout()' class='item-text'>Вихід</span>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</header>

<!--USED POPUPS-->
<app-login-popup></app-login-popup>
<app-registration-popup></app-registration-popup>
