<div *ngIf='productInfo' class='product-page'>
  <div class='product-page-wrapper'>
    <div class='product-page-content'>
      <div class='product-page-content__product product'>
        <div class='product-image'>
          <img *ngIf='productInfo.photos; else placeholderImage' [src]='productInfo.photos[0]' alt='main'
               class='product-image__img'>
          <ng-template #placeholderImage>
            <img alt='main' class='product-image__img'
                 src='https://developers.elementor.com/docs/assets/img/elementor-placeholder-image.png'>
          </ng-template>
        </div>
        <div class='product-content'>
          <h2 class='product-content__title'>{{productInfo.title}}</h2>
          <p class='product-content__description'>{{productInfo.description}}</p>
          <ul class='product-content__prices prices'>
            <li class='prices-item'>
              <h3 class='prices-item__title'>Купити зараз:</h3>
              <span class='prices-item__price'>{{productInfo.buyNowPrice | number}} грн</span>
            </li>
            <li class='prices-item'>
              <h3 class='prices-item__title'>Ставка:</h3>
              <span class='prices-item__price'>{{productInfo.currentBet | number}} грн</span>
            </li>
            <li class='prices-item'>
              <h3 class='prices-item__title'>Мінімальний крок:</h3>
              <span class='prices-item__price'>{{productInfo.minStep | number}} грн</span>
            </li>
          </ul>
          <span
            class='product-content__days-left'><strong>До кінця аукціону:</strong> {{timeLeft | date:dateFormat}}</span>
          <div class='product-content__buttons'>
            <app-button [buttonData]='buyNowData'></app-button>
            <app-button [buttonData]='betData'></app-button>
          </div>
        </div>
      </div>
    </div>
    <app-products [products]='recommendationProducts'></app-products>
  </div>
</div>
<app-raise-bet-popup></app-raise-bet-popup>
